<h3>These are people that signed the petition so far:</h3>

{{# signers}}
	<ul>
	    <li>{{#if url}}
	    <a class="links" href="{{url}}">{{first}} {{last}}</a>
	    {{else}}
	    {{first}} {{last}}
	    {{/if}} {{age}} {{#city}}
		<a class="links" href="/signers/{{.}}">{{.}}</a></li>{{/city}}
	</ul>
{{/signers}}

<h3>Click <a href="/logout"> here </a>to log out</h3>
